* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #1a0f0a;
    color: whitesmoke;
}

/* Navbar */
header{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;;
}

nav{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style-type: none;
}

nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #eee;
    transition: 0.3s;
}

nav a:hover{
    color: #ffb067;
}

.Order-btn{
    background: #a56a3f;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.Order-btn:hover{
    background: #ffb067;
}

/* Hero */
.hero{
    height: 100vh;
    background: url('Coffee-Background.png') no-repeat center/cover;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 200px 100px;
}

.hero-content{
    position: relative;
}

.hero h1{
    font-size: 50px;
}
.hero h2{
    font-size: 40px;
    margin: 10px 0;
}
.hero span{
    font-family: cursive;
    color: #ffb067;
}
.hero p{
    margin: 15px 0 25px 0;
    color: #ddd;
}